{% extends 'base/base.html' %}


{%block titulo-miga%}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Página de Proveedores</h4>
            <div>

                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Detalle del proveedor</li>
                </ol>

            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block contenido %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Detalles del Proveedor</h4>
               <hr>

                <form>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="inputEmail4" class="form-label">Nombre</label>
                            <input type="text" class="form-control" value="{{provee.nombre_proveedor}}" >
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="inputPassword4" class="form-label">Código</label>
                            <input type="text" class="form-control" value="{{provee.codigo_proveedor}}" >
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="inputState" class="form-label">Email</label>
                            <input type="text" class="form-control" value="{{provee.email_proveedor}}">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Domicilio</label>
                        <input type="text" class="form-control" value="{{provee.domicilio_proveedor}}">
                       
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="inputCity" class="form-label">Tel Fijo</label>
                            <input type="text" class="form-control" value="{{provee.telfijo_proveedor}}">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="inputState" class="form-label">Tel Movil</label>
                            <input type="text" class="form-control" value="{{provee.movil_proveedor}}">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="inputCity" class="form-label">Código Postal</label>
                            <input type="text" class="form-control" value="{{provee.zipcode_proveedor}}">
                        </div>
                       
                        
                    </div>
                    <div class="row">
                       
                        <div class="mb-3">
                            <label for="inputState" class="form-label">País</label>
                            <input type="text" class="form-control" value="{{provee.id_pais}}">
                        </div>
                       
                        
                    </div>

                   
                </form>
                <button onclick="history.go(-1)" class="btn btn-success waves-effect waves-light">Regresar</button>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
{% endblock %}