{% extends 'base/base_login.html' %}


{% block login %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="emailaddress" class="form-label">Usuario</label>
        <input class="form-control" type="text" id="emailaddress" required="" placeholder="Usuario" name='username' id='username'>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group input-group-merge">
            <input type="password" id="password" class="form-control" placeholder="Contraseña" name='password' id='password'>
            <div class="input-group-text" data-password="false">
                <span class="password-eye"></span>
            </div>
        </div>
    </div>
    <div class="text-center d-grid">
        <button class="btn btn-primary" type="submit"> Log In </button>
    </div>

</form>
{% endblock %}