{% extends 'base/base.html' %}
{% load widget_tweaks %}

{%block titulo-miga%}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Página de Vendedores</h4>
            <div>

                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Editar Datos Vendedor</li>
                </ol>

            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block contenido %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Formulario de Edición de Vendedores</h4>
               <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="inputEmail4" class="form-label">Apellido</label>
                            {% render_field form.apellido_vendedor class="form-control" %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputPassword4" class="form-label">Nombre</label>
                            {% render_field form.nombre_vendedor class="form-control" %}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Domicilio</label>
                        {% render_field form.domicilio_vendedor class="form-control" %}
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputCity" class="form-label">DNI</label>
                            {% render_field form.dni_vendedor class="form-control" %}
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="inputState" class="form-label">Código</label>
                            {% render_field form.codigo_vendedor class="form-control" %}
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="inputZip" class="form-label">Sucursal</label>
                            {% render_field form.sucursal class="form-control" %}
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Editar Registro</button>
                    <button onClick="history.go(-1);" class="btn btn-success waves-effect waves-light">Cancelar</button>
                </form>

            </div> 
    </div> 
</div>
</div>
{% endblock %}